<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
	<div th:fragment="header">
		<div class="header">
			<div class="navigation">
				<nav class="navbar navbar-default" role="navigation">
					<div class="container-fluid">
						<div class="navbar-header">
							<a class="navbar-brand" href="#">HOMEPAGE</a>
						</div>
						<ul class="nav navbar-nav navbar-right">
							<li><a th:if="${user == null}" th:href="@{/member/register}">
									REGISTER</a></li>
							<li><a th:unless="${user == null}"
								th:href="@{/personal/articles}" th:text="${user.nickName}"></a></li>
							<li><a th:if="${user == null}" th:href="@{/login}">
									LOGIN</a></li>
							<li><a th:unless="${user == null}" th:href="@{/loginout}">
									LOGOUT</a></li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
	</div>
	<div th:fragment="new">
		<table class="table table-hover">
			<tbody>
				<tr th:each="article : ${article}">
					<td th:text="${article.title}">neo</td>
				</tr>
			</tbody>
		</table>
		<div class="with:80%"></div>
	</div>

	<div th:fragment="page">
		<div class="paging">
			<ul class="pagination">
				<li class="page-item"
					data-th-classappend="*{first} ? 'disabled' : ''"><a
					href="javascript:void(0);" class="page-link" 
					th:attr="page=${PageData.number} - 1" aria-label="Previous"> <span
						aria-hidden="true">«</span>
				</a></li>

				<li class="page-item"
					data-th-each="i : ${#numbers.sequence(1, PageData.totalPages)}"
					data-th-classappend="${(PageData.number + 1) eq i} ? 'active' : ''">
					<a class="page-link" th:attr="page=${i}"
					href="javascript:void(0);"> <span data-th-text="${i}"></span>
				</a>
				</li>

				<li class="page-item"
					data-th-classappend="*{last} ? 'disabled' : ''"><a
					href="javascript:void(0);" class="page-link"
					th:attr="page=${PageData.number} + 2" aria-label="Next"> <span
						aria-hidden="true">»</span>
				</a></li>
			</ul>
		</div>
	</div>
</body>
</html>